<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    {{> header}}
    <h2>{{desc}}</h2>
    <form class="form1" id="form">
        <input type="text" id="address">
        <button>Search</button>
        <p id="locationweb"></p>
        <p id="forecastweb"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
        <p id="errorweb"></p>
    </form>
<script src="js/script.js"></script>
</body>
</html>
